/build/built-jar.properties/
 src/Decrypt_Encrypt/*.java
 dist
 build
 /build/
 /build.xml/
 /dist/
 /nbproject/
 *.properties
*.xml

src/Decrypt_Encrypt/ReadFile.java
*.class
.DS_Store
build/.DS_Store
build/classes/.DS_Store
dist/.DS_Store
src/.DS_Store
build/classes/.netbeans_update_resources
build/classes/.netbeans_automatic_build
